*  {
   background-color: #EFE1CE;
}


h1 {
    text-align: center;
}

.icon m-5{
    margin: auto;
}

input[type=submit] {
    background: rgb(255, 72, 0);
    padding: 0.5em;
    border: 2em, solid:
}
